<div class="section" id="2">
	<h1 class="center">Week 2 Section</h1>
	<marked>
		## Introduction

		### Basics

		- When? Sundays 8:10-9:40pm
		- Where? [Watson Center](https://www.google.com/maps/place/60+Sachem+St,+New+Haven,+CT+06511/), B39

		### Contact

		- Feel free to reach out whenever!
			- email: [charles.proctor@yale.edu](mailto:charles.proctor@yale.edu)
			- cell: (860) 754-7447

		### What is section?
 
		- "sections provide you with opportunities to explore the course's material in a more intimate environment as well as to dive into hands-on activities"
		- You'll get the most out of section if you've watched the lectures and read the pset spec ahead of time.

		### Resources

		- [Office Hours](https://www.google.com/calendar/embed?showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=600&wkst=1&bgcolor=%23FFFFFF&src=usfmbrrqofbdqt8thke4rua6d0%40group.calendar.google.com&color=%23182C57&ctz=America%2FNew_York)
		- [CS50 Discuss](http://cs50.yale.edu/discuss)
		- Walkthroughs
		- Shorts
		- [Study50](http://study.cs50.net)

		### A Quick Note on Grading

		- 5's are rare. There's always room for improvement!
		- Read the comments, please! This is how you will improve.
		- Graded in terms of progress from beginning to end.

		## Arrays

		To make an array, we do:

		```c
		&lt;data type&gt; &lt;name&gt;[&lt;size&gt;];
		int score[5];
		char alpha[26];
		```

		To put values in the array:

		```c
		score[0] = 0; // zero index all arrays!
		score[1] = 1;
		score[2] = 2;
		```

		Or, we can initialize as such:

		```c
		int score[] = {1, 2, 3}; // size based on the number of entries
		```

		### Let's try it!

		1. Create an array with the names of **three** people from section. 
		2. Loop over those names, printing them out to the command line. Make sure to add a `\n` after each!	

	</marked>

	<editor section="2" problem="arrays" uid="{{authData.uid}}" name="{{name}}"></editor>
</div>