<div class="section" id="2">
	<h1 class="center">Week 2 Section</h1>

	<marked src="'data/md/2/intro.md'"></marked>

	<marked src="'data/md/2/arrays.md'"></marked>
	<editor section="2" problem="arrays" uid="{{authData.uid}}" name="{{name}}"></editor>

	<marked src="'data/md/2/strings.md'"></marked>
	<editor section="2" problem="letters" uid="{{authData.uid}}" name="{{name}}"></editor>

	<marked src="'data/md/2/functions.md'"></marked>
	<editor section="2" problem="functions" uid="{{authData.uid}}" name="{{name}}"></editor>

	<marked src="'data/md/2/commandline.md'"></marked>
	<editor section="2" problem="commandline" uid="{{authData.uid}}" name="{{name}}"></editor>

	<marked src="'data/md/2/pset.md'"></marked>
	<editor section="2" problem="modulo" uid="{{authData.uid}}" name="{{name}}"></editor>

	<marked src="'data/md/2/ascii.md'"></marked>
	<editor section="2" problem="ascii" uid="{{authData.uid}}" name="{{name}}"></editor>
</div>