<menu></menu>
<div class="questions">
	<h1>Questions, Questions, Ask Away!!</h1>
	<div ui-ace="{ mode:'markdown' }" ng-model="questiontext" class="editor"></div>
	<button class="submit" ng-click="newQuestion()">Submit</button>

	<div ng-repeat="question in questions">
		<hr>
		<h2 class="date">{{question.date | date:'MM/dd @ h:mma'}}</h2>
		<button class="edit" ng-if="question.uid == uid && !question.edit" ng-click="question.edit = true">Edit</button>
		<button class="edit" ng-if="question.edit" ng-click="question.edit = false; questions.$save(question)">Save</button>
		<button class="edit" ng-if="question.uid == uid" ng-click="questions.$remove(question)">Delete</button>
		<div ui-ace="{ mode:'markdown' }" ng-if="question.edit" ng-model="question.text" class="editor"></div>
		<div class="question" marked="question.text"></div>
		
		<hr class="answerdivide" ng-if="question.answer"/>
		<div class="answer" ng-if="question.answer" marked="question.answer"></div>
		
		<div ui-ace="{ mode:'markdown' }" ng-if="admin" ng-model="question.answer" class="editor"></div>
		<button class="submit" ng-if="admin" ng-click="questions.$save(question)">Save</button>
	</div>
</div>